.card {
	flex: 0 1 calc(25% - 1em);
	background: lightslategray;
	color: white;
	font-weight: light;
	cursor: pointer;
	font-size: 1.5em;
	text-align: center;
	margin: 15px;
	height: 200px;
	align-items: center;
	vertical-align: middle;
	line-height: 100px;
	border-radius: 10px;
	outline: thick;
	border: 1px solid black;
}

.card:visited,
.green--bkg {
	transition: background 0.05s ease-in;
	background: coral;
	font-weight: bold;
}

.btn_reload {
	background: darkslategray;
	color: white;
	border: none;
	cursor: pointer;
}
